<!DOCTYPE html>
<html>
<head>
<title>Edit Profile Page</title>
<link rel="stylesheet" href="test.css">
</head>
    <body>
        <center>
            <div class="box">
                <input type="file" id="file" name="image" >
                <img src="pic22.jpg" width="100%" height="100%">
                <label for="file">EDIT PIC</label>
                <input type="text" placeholder="User Name" name="" >
                <input type="password" placeholder="New Password" name="" >
                <input type="password" placeholder="Confirm Password" name="" >
                <button style="float: left;margin: 10px 0 0 18.2%;">CANCEL</button>
                <button
                name="done" style="float: right;margin:10px 18.2% 0 0;">DONE</button>
            </div>
        </center>
</body>
</html>