body{
    background-color:#1C2833;
}
*:focus{
    outline: none;
}
.box{
    box-sizing: border-box;
    width: 153px;
    height: 153px;
    border:2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73,
    3px 3px 5px rgba(94,104,121,0.288);
    border-radius: 50%;
    background-color: black;
    margin-top: 50px;
    overflow: hidden;
    transition: all 1s;
}
.box:hover{
    width: 360px;
    height: 600px;
    border-radius: 5px;
}
img{
    box-sizing: border-box;
    width:149px;
    height:149px;
    border-radius:50%;
    margin:0;
    border:5px solid #0082e6;
    padding: 3px;
    background-color: white;
    overflow: hidden;
    transition: all 1s;    
}
.box:hover img{
    width: 100px;
    height: 100px;
    margin:20px 35% ;
}
hr{
    width:500px;
    line-height:20px;
    margin:10px 10px 10px 10px;
}
input[type="text"],
input[type="password"],
input[type="password"] {
display: block;
box-sizing: border-box;
color: #3498db;
margin-bottom: 30px;
padding: 4px;
width: 220px;
height: 32px;
border: none;
border-bottom: 1px solid #0082e6;
font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 15px;
transition: 0.2s ease;
background: none;
}
input[type="text"]{
margin-top: 25px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="password"]:focus {
border-bottom: 2px solid #3498db;
border-bottom-right-radius:20px;
color: #3498db;
transition: 0.2s ease;
background: black;
border-top: none;
}    
button{
border:1px solid #3498db;
background-color: black;
color:white;
height: 30px;
width: 100px;
border-radius: 5px;
left:0;
margin:0px;
transition: all .3s;
}
button:hover{
transform: scale(1.1);
background-color: #566573;
}
input[type="file"]{
display:none;
}
label{
box-sizing: border-box;
width:40px;
height:20px;
background-color: black;
color:white;
border:1px solid #3498db;
background-color: black;
color:white;
padding: 4px;
border-radius: 2px;
}
label:hover{
background-color: #566573;
transform: scale(1.1);
}